# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Dependency directories (remove the comment below to include it)
# vendor/

# Go workspace file
go.work

test.env
local.env
.env
.tfstate
.idea/
**/__pycache__/

# Some unit tests require a bash environment set-up, and so when executed on Windows may create additional directories which should be ignored
main/internal/implementations/dragon_drop/current_cloud/
main/internal/implementations/dragon_drop/outputs/
main/internal/implementations/dragon_drop/repo/
